

<!DOCTYPE html>
<html lang="en" ng-app="botb" class="">
<head>
    <title>FAQs | BOTB</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="botb:applcationversion" content="2.0.8290.1" />
    <meta property="og:site_name" content="BOTB" />
    <meta name="description" content="Who are BOTB, Where is it? How to play? What do we do? You&#39;ve got questions? We&#39;ve got answers! Check our FAQ page.">
    <meta name="keywords" content="BOTB, Who are BOTB, FAQ BOTB, BOTB" />
    

    
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300|Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Condensed:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />

    
    <link rel="stylesheet" href="/assets/css/jquery-ui.1.11.4.min.css" />
    <link rel="stylesheet" href="/assets/css/botb_style.css?ver=2.0.8290.1" />
    <link rel="stylesheet" href="/css/botb_datestyles.css?ver=2.0.8290.1" />

    

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    

    
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
<!-- Qubit Tracker
================================================== -->
<script defer type='text/javascript'>
window.universal_variable = {
  "version": "1.2",
  "page": {
    "description": "Who are BOTB, Where is it? How to play? What do we do? You've got questions? We've got answers! Check our FAQ page.",
    "keywords": "BOTB, Who are BOTB, FAQ BOTB, BOTB",
    "breadcrumb": [
      "FAQs"
    ],
    "environment": "Website",
    "type": "FAQRepository"
  },
  "user": {
    "name": null,
    "user_id": null
  },
  "basket": {
    "currency": "£",
    "currency_symbol": "GBP",
    "subtotal": 59.16,
    "subtotal_include_tax": 59.16,
    "total": 59.16,
    "tax": 0.0,
    "discount_total": 0.0,
    "gamecredit_total": 0.0,
    "prizeextension_total": 15.2,
    "superchargeddiscount_total": 0.0,
    "ticket_total": 54.4,
    "ticket_quantity": 16,
    "promotions": [
      "10+ Dream Car Pricing"
    ],
    "promotion_discount": -10.44,
    "vouchers": [],
    "has_unplayed_tickets": true,
    "line_items": [
      {
        "product": {
          "sku": "Ticket340",
          "description": "Audi e-tron",
          "product_type": "CompetitionTicket",
          "product_details": "/prizes/cars/audi-e-tron/",
          "thumbnail": "https://botbumbraco.blob.core.windows.net/media/17213/audi-e-tron-thumb.png"
        },
        "quantity": 16,
        "subtotal": 54.4
      },
      {
        "product": {
          "sku": "Plus20k",
          "description": "£20,000 Cash & Fuel",
          "product_type": "PrizeExtension",
          "product_details": "/missingprizeuri",
          "thumbnail": "/assets/images/missingimage.png"
        },
        "quantity": 16,
        "subtotal": 15.2
      }
    ]
  }
};
</script>
<script type='text/javascript' src='//d3c3cq33003psk.cloudfront.net/opentag-86699-867681.js' async defer></script>
<!-- Google Tag Manager Tracker
================================================== -->
<script type="text/javascript">
var dataLayer = dataLayer || [];
dataLayer.push (
{}
);
</script>
<script>
(function(w,d,s,l,i)
{
w[l] = w[l] || [];
w[l].push({'gtm.start':new Date().getTime(), event:'gtm.js'});
var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
j.async = true;
j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
f.parentNode.insertBefore(j, f);
})
(window, document, 'script', 'dataLayer', 'GTM-TZQKF3');
</script>
<!-- Start Conversant Tag -->
<script type="text/javascript">
var MasterTmsUdo = {
  "cookie_consent": "y"
};
</script>
<script>
(function(e){var t="3154",n=document,r,i,s={http:"http://cdn.mplxtms.com/s/MasterTMS.min.js",https:"https://secure-cdn.mplxtms.com/s/MasterTMS.min.js"},o=s[/\w+/.exec(window.location.protocol)[0]];i=n.createElement("script"),i.type="text/javascript",i.async=!0,i.src=o+"#"+t,r=n.getElementsByTagName("script")[0],r.parentNode.insertBefore(i,r),i.readyState?i.onreadystatechange=function(){if (i.readyState==="loaded"||i.readyState==="complete")i.onreadystatechange=null}:i.onload=function(){try{e()}catch(t){}}})(function(){});
</script>

    <!-- Social Media scripts
    ================================================== -->
    <script src="//apis.google.com/js/platform.js" async defer></script>



<script defer async src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.1.js"></script>
<script defer async>window.Modernizr || document.write('<script defer async src="/js/libs/modernizr.js">\x3C/script>')</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<script>window.jQuery || document.write(unescape('%3Cscript%20src%3D%22/js/libs/jquery-1.11.3.min.js%22%3E%3C/script%3E'))</script>


<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script>window.angular || document.write(unescape('%3Cscript%20src%3D%22/js/libs/angular-1.4.4.min.js%22%3E%3C/script%3E'))</script>

    <style type="text/css">
        .fancybox-margin {
            margin-right: 0;
        }

        #dtmdiv, #AWIN_CDT {
            display: none;
        }
    </style>






</head>
<body class="pp-anonymous pp-site-botb-website pp-owner-best-of-the-best pp-location-website date-20190114">
<noscript>
<iframe src="//www.googletagmanager.com/ns.html?id=GTM-TZQKF3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>




<header class="clearfix">

    <div class="header-wrap clearfix">

        <div class="alternate-cover-area"></div>

        <div class="left">
            <button id="nav-burger" class="menu-toggle">
                <div class="line-container">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="label">MENU</div>
            </button>

                <ul class="currency-menu botb-mobile">
                    <li>
                        <div class="user-btn">
    

        <a class="drop-btn clearfix" data-drop=".currency-drop">
            <div class="currency-code">GBP</div>
            <p>&#163;</p>
        </a>
        <ul class="currency-drop">
<li class="currency-selected"><a href="#" onclick="botb.cookie.setCookie('BotB.CurrencyCode','GBP',7); location.reload();">GBP</a></li><li><a href="#" onclick="botb.cookie.setCookie('BotB.CurrencyCode','EUR',7); location.reload();">EUR</a></li>        </ul>

                        </div>
                    </li>
                </ul>

            <a class="header-logo-container" id="headerLogoLink" href="/"><img src="/assets/images/logo-website-header.png" alt="BOTB" /></a>

            <div class="top-nav-heading-container">
                <ul>
                    <li class="nav-item-1"><a class="nav-item" href="/prizes/cars">Competitions</a></li>
                    <li class="nav-item-2"><a class="nav-item" href="/winners">Winners</a></li>


                    <li class="nav-item-4"><a class="nav-item" href="/testimonials">About</a></li>
                </ul>
            </div>

        </div>

        <div class="right clearfix">
            
        
    <ul class="user-menu">
        <li class="loginMenuSignup"><a id="login-trigger" href="/login">LOG IN</a></li>
            <li class="topMenuSignup"><a id="registration-trigger" href="/signup">SIGN UP</a></li>
        <li class="cart-amount" id="ShoppingCartController" ng-controller="CartTotalController" ng-cloak>
            <div id="MenuBasket">
                <div class="menu-basket-left">
                    <span class="current-cart-amount" ng-class="{noticketcount: TotalTicketCount == 0 || !TotalTicketCount}">{{FormattedGrandTotal}}</span>
                    <span class="total-ticket-count" ng-show="(TotalTicketCount != 0 && TotalTicketCount)">({{TotalTicketCount}})</span>
                </div>
                <div class="menu-basket-right">
                    <div ng-show="IsCartEmpty" class="basketIcon"></div>
                    <div ng-show="!IsCartEmpty" class="basketIcon basketIconActive"></div>
                    <span class="total-ticket-count-mobile" ng-show="(TotalTicketCount != 0 && TotalTicketCount)">({{TotalTicketCount}})</span>
                </div>
            </div>
        </li>
    </ul>

            

<aside ng-controller="ShoppingCartController" class="cartParent">

    <div class="cart" id="cartId">
        <input type="hidden" class="multibuy-mode" value="ABTest" />

        <div class="top">
            <a class="cart-close">Hide Basket »</a>
        </div>

        <!-- LOADING-->
        <div class="empty" ng-show="loading == true">
            <div class="inner">
                <img class="loader" src="/assets/images/loader.gif" alt="Loading your basket..." />
            </div>
        </div>

        <!-- EMPTY CART CODE -->
        <div class="empty" ng-show="TotalTicketCount == 0 && loading == false">
            <div class="inner">
                <p>There are no items in<br>your basket.</p>
                <p>Click below to see our cars and add tickets now.</p>
                <a href="/prizes/cars" class="btn orange our-cars-link">OUR CARS</a>
            </div>
        </div>

        <!-- CART WITH ITEMS CODE -->
        <div class="scroll" ng-show="TotalTicketCount > 0 && loading == false">
            <form class="itemsInBasket">
                <div class="cars-tables" ng-repeat="item in cart.CartItems" ng-init="obj={showTickets:false};obj.showTickets = ExpandCartItemId == item.CartItemId">
                    <table class="lineitems">
                        <tr>
                            <td class="remove-col" ng-class="{cannotremove: item.SKU == 'LoyaltyClubFreeTicket'}" ng-click="RemoveProduct(item.CartItemId)" ng-show="item.SKU != 'LoyaltyClubFreeTicket' || !cart.DummyPrizeActive"><a href="#" ng-class="{cannotremove: item.SKU == 'LoyaltyClubFreeTicket'}"><img src="/assets/images/icon-trash-2.png" alt=""></a></td>
                            <td class="remove-col" ng-click="showSelectFreeTicket(false);" ng-show="item.SKU == 'LoyaltyClubFreeTicket' && cart.DummyPrizeActive"><a href="#" ng-click="showSelectFreeTicket(false);"><img src="/assets/images/icon-edit-2.png" alt=""></a></td>

                            
                            <td class="prize-image-col" ng-show="item.ItemCount>=1 && item.TicketList.length && item.IsDummyFreePrize==false && item.HasPrizeDetails==true"><a href="{{item.PrizeUri}}"><img id="cartimage-{{item.CartItemId}}" ng-src="{{item.ThumbnailUri}}" class="basketCarImage" alt="" ng-show="item.ThumbnailUri != '/assets/images/missingimage.png'"></a></td>
                            <td class="prize-description-col basketItemDescription descriptionnarrow" ng-show="item.ItemCount>=1 && item.TicketList.length && item.IsDummyFreePrize==false && item.HasPrizeDetails==true"><a href="{{item.PrizeUri}}">{{item.Description}}</a></td>

                            
                            <td class="prize-image-col" ng-show="item.ItemCount>=1 && item.TicketList.length && item.IsDummyFreePrize==true"><a href="#" ng-click="showSelectFreeTicket(false);"><img id="cartimage-{{item.CartItemId}}" ng-src="{{item.ThumbnailUri}}" class="basketCarImage" alt="" ng-show="item.ThumbnailUri != '/assets/images/missingimage.png'"></a></td>
                            <td class="prize-description-col basketItemDescription" ng-show="item.ItemCount>=1 && item.TicketList.length && item.IsDummyFreePrize==true"><a href="#" ng-click="showSelectFreeTicket(false);">Select your free ticket »</a></td>

                            
                            <td class="prize-image-col" ng-show="item.ItemCount>=1 && item.TicketList.length && item.IsDummyFreePrize==false && item.HasPrizeDetails==false"><img id="cartimage-{{item.CartItemId}}" ng-src="{{item.ThumbnailUri}}" class="basketCarImage" alt="" ng-show="item.ThumbnailUri != '/assets/images/missingimage.png'"></td>
                            <td class="prize-description-col basketItemDescription descriptionnarrow" ng-show="item.ItemCount>=1 && item.TicketList.length && item.IsDummyFreePrize==false && item.HasPrizeDetails==false">{{item.Description}}</td>

                            
                            <td class="prize-image-col" ng-show="!item.TicketList.length"><img ng-src="/assets/images/money-case.jpg" alt=""></td>
                            <td class="prize-description-col basketItemDescription descriptionnarrow" ng-show="!item.TicketList.length">{{item.Description}}</td>

                            <td class="quantity-col" ng-show="item.ItemCount>=1 && !item.TicketList.length">
                                <span class="add-more-ticket" ng-show="item.SKU != 'LoyaltyClubFreeTicket'">
                                    <span class="item-count"> {{item.ItemCount}}</span>
                                </span>
                            </td>

                            <td class="quantity-col" ng-show="item.ItemCount>=1 && item.TicketList.length">
                                <span class="add-more-ticket" ng-show="item.SKU != 'LoyaltyClubFreeTicket'">
                                    <img title="Remove ticket" class="remove-ticket-icon" alt="" src="/assets/images/icon-remove-ticket.png" ng-show="item.CanAddMoreTickets" ng-click="removeUnplayedTicket(item.CartItemId, 1, item.CompetitionId, $event);" />
                                    <span class="item-count"> {{item.ItemCount}}</span>
                                    <img title="Add ticket" class="add-ticket-icon" alt="" src="/assets/images/icon-add-ticket.png" ng-show="item.CanAddMoreTickets" ng-click="addTickets(item.CartItemId, 1, item.CompetitionId);" />
                                </span>

                            </td>

                            <td class="prize-amount-col" ng-show="item.SKU != 'LoyaltyClubFreeTicket'">{{item.FormattedItemPrice}}</td>
                            <td class="free-ticket-col freeticketbasket" ng-show="item.SKU == 'LoyaltyClubFreeTicket'"><span>Free Ticket</span></td>

                            <td class="dummy-col" ng-show="!item.TicketList.length"></td>
                            <td class="show-tickets-col group-btn" ng-show="item.ItemCount > 0 && item.TicketList.length"><a data-group=".group1" ng-click="ToggleShowTickets(obj, $event)"><span></span></a></td>
                            <td class="no-play-x-col" ng-show="item.TicketList.length && item.ItemCount == -1">X-{{item.TicketList[0].Coords_X}}</td>
                            <td id="last-basket-col" class="no-play-y-col" ng-show="item.TicketList.length && item.ItemCount == -1">Y-{{item.TicketList[0].Coords_Y}}</td>
                        </tr>
                    </table>

                    <table ng-show="obj.showTickets && item.ItemCount > 0" class="cart_tickets">
                        <tr ng-repeat="ticket in item.TicketList">
                            <td class="remove-col"><a href="#" ng-hide="item.SKU == 'LoyaltyClubFreeTicket'"><img src="/assets/images/icon-trash-2.png" ng-click="RemoveTicket(ticket.CompetitionEntryId, item.CartItemId)" alt=""></a></td>
                            <td class="prize-description-col basketItemDescription">{{item.Description}}</td>

                            <td ng-if="item.GameMechanicId == 1 && (!ticket.Coords_X && !ticket.Coords_Y)" colspan="2" class="to-play-col">to play</td>
                            <td ng-if="item.GameMechanicId == 2 && (!ticket.CompetitionAnswer)" colspan="2" class="to-play-col">to play</td>

                            <td ng-if="ticket.Coords_X" class="coord-x-col">X-{{ticket.Coords_X}}</td>
                            <td ng-if="ticket.Coords_Y" class="coord-y-col">Y-{{ticket.Coords_Y}}</td>
                            <td ng-if="item.GameMechanicId == 2 && (ticket.CompetitionAnswer)">played</td>
                            <td ng-if="item.GameMechanicId == 2 && (ticket.CompetitionAnswer)" class="remove-col"><a href="/multiple-choice?cguid={{item.CompetitionGuid}}"><img src="/assets/images/icon-edit-2.png" alt=""></a></td>

                        </tr>
                    </table>

                    {{ rotateImage(item.CartItemId) }}
                </div>

                <div class="basket-discounts" ng-show="TotalTicketsPaid > 0
                     && TotalTicketsPaid < 10
                     && true">
                    <span class="info-text">5+ and 10+ Dream Car Competition Pricing</span>

                    <span class="info-icon as-html" tooltip-content=".multibuy-tooltip-content" onclick="botb.messagePopup.show('5+ and 10+ ticket price categories are available in the Dream Car Competition and will take into account the number of car tickets already purchased in a given Dream Car competition week.&lt;br /&gt;&lt;br /&gt;Pricing will not be applied retrospectively to orders already completed. &lt;br /&gt;&lt;br /&gt;Dream Car Competition Credit won will be applied relative to the purchase price of each ticket.&lt;br /&gt;&lt;br /&gt;Please note that Supercharged Free Tickets do not count towards your 5+ and 10+ price categories.')"></span>
                    <div class="tooltip-templates">
                        <span class="multibuy-tooltip-content">5+ and 10+ ticket price categories are available in the Dream Car Competition and will take into account the number of car tickets already purchased in a given Dream Car competition week.<br /><br />Pricing will not be applied retrospectively to orders already completed. <br /><br />Dream Car Competition Credit won will be applied relative to the purchase price of each ticket.<br /><br />Please note that Supercharged Free Tickets do not count towards your 5+ and 10+ price categories.</span>
                    </div>
                    
                    <div class="text-container">
                        <div ng-show="TotalTicketsPaid > 0 && TotalTicketsPaid < 5">
                            Buy {{5 - TotalTicketsPaid}} more &amp; get 5+ pricing
                        </div>
                        <div ng-show="TotalTicketsPaid >= 5 && TotalTicketsPaid < 10">
                            You have qualified for 5+ pricing
                        </div>
                        <div ng-show="TotalTicketsPaid > 0 && TotalTicketsPaid < 10">
                            Buy {{10 - TotalTicketsPaid}} more &amp; get 10+ pricing
                        </div>
                        <div ng-show="TotalTicketsPaid >= 10">
                            You have qualified for 10+ pricing
                        </div>
                    </div>
                </div>

                <div ng-repeat="extension in cart.PrizeExtensions" ng-show="cart.HasDreamCarTicketsInBasket">
                    <div class="add-btn">

                        <div ng-if="extension.SKU == 'Plus10k'" class="prize-extension-10k">
                            <span class="info-icon as-html" tooltip-content=".10k-content" ng-click="showPrizeExtensionPopup('.10k-content')"></span>
                            <div class="tooltip-templates">
                                <span class="10k-content" ng-bind-html="extension.HelpMessage"></span>
                            </div>

                            <img class="prize-img" title="" alt="" src="/assets/images/money-case-1.png" />
                            <a href="#" title="" ng-click="AddProduct(extension.SKU)">
                                <span class="btn blue button-text prize-ext-btn">
                                    {{extension.ButtonText}}
                                </span>
                            </a>
                        </div>

                        <div ng-if="extension.SKU == 'Plus20k'" class="prize-extension-20k">
                            <span class="info-icon as-html" tooltip-content=".20k-content" ng-click="showPrizeExtensionPopup('.20k-content')"></span>
                            <div class="tooltip-templates">
                                <span class="20k-content" ng-bind-html="extension.HelpMessage"></span>
                            </div>

                            <img class="prize-img" title="" alt="" src="/assets/images/money-case-2.png" />
                            <a href="#" title="" ng-click="AddProduct(extension.SKU)">
                                <span class="btn blue button-text prize-ext-btn">
                                    {{extension.ButtonText}}
                                </span>
                            </a>
                        </div>

                        <div ng-if="extension.SKU != 'Plus10k' && extension.SKU != 'Plus20k'" class="inner">
                            <a href="#" class="btn blue tooltip" title="Click here to add this option to the prize." ng-click="AddProduct(extension.SKU)">{{extension.ButtonText}}</a>
                            <p class="prize-help" ng-bind-html="extension.HelpMessage"></p>
                        </div>
                    </div>
                </div>

                <div class="inner">
                    <div class="basket-details-container">
                        <div class="ticket-quantity">Tickets: <span class="right">{{TotalTicketCount}}</span></div>
                        <div class="ticket-values" ng-show="FormattedGrandTotal != FormattedTotalValueOfTicketsAndExtensions">Subtotal: <span class="right">{{FormattedTotalValueOfTicketsAndExtensions}}</span></div>

                        <div ng-show="PrizeExtensionTotal > 0" class="TotalTickets">
                            <div ng-repeat="item in cart.CartItems | filter: { ProductType : 4 }">
                                {{item.Description}}:<span class="right">{{item.FormattedItemTotal}}</span>
                            </div>
                        </div>

                        <div class="total-value hide" ng-show="FormattedGrandTotal != FormattedTotalValueOfTicketsAndExtensions"><strong>Subtotal:</strong> <span class="right"><strong>{{FormattedTotalValueOfTicketsAndExtensions}}</strong></span></div>
                        <div ng-show="MultiBuyDiscountTotal != 0">
                            {{MultiBuyDiscountText}}: <span class="right">{{FormattedMultiBuyDiscountTotal}}</span>
                        </div>

                        <div ng-show="SuperchargedDiscount != 0">
                            Supercharged Discount: <span class="right">{{FormattedSuperchargedDiscountTotal}}</span>
                        </div>

                        
                    </div>
                    <div>
                        <div ng-show="DiscountCodeTotal != 0">Voucher Code Applied: <span class="right">{{FormattedDiscountCodeTotal}}</span></div>

                        <div class="basket-game-credit" ng-show="GameCreditUsed != 0">

                            <span class="info-icon as-html" tooltip-content=".game-credits-tooltip-content" onclick="botb.messagePopup.show('The amount of Dream Car Credit you wish to use can be edited on the final Checkout page, by clicking on the Dream Car Credit box and icon&lt;br /&gt;&lt;br /&gt;This can be helpful in managing your eligibility for Supercharged Tiers')"></span>
                            <div class="tooltip-templates">
                                <span class="game-credits-tooltip-content">The amount of Dream Car Credit you wish to use can be edited on the final Checkout page, by clicking on the Dream Car Credit box and icon<br /><br />This can be helpful in managing your eligibility for Supercharged Tiers</span>
                            </div>

                            Dream Car Credit Used:
                            <span class="right">{{FormattedGameCreditUsed}}</span>
                        </div>

                        <div class="total">
                            <strong>Total:</strong> <span class="right"><strong>{{FormattedGrandTotal}}</strong></span>
                        </div>
                    </div>
                    <a href="/checkout" class="btn orange proceed" ng-show="cart.HasUnplayedTickets == false && cart.HasDummyFreeTicket == false">CHECKOUT</a>
                    <a href="#" ng-click="showSelectFreeTicket(false, true);" class="btn orange proceed" ng-show="cart.HasUnplayedTickets == false && cart.HasDummyFreeTicket == true">CHECKOUT</a>
                    <a href="{{cart.SpotTheBallUrl}}" class="btn orange proceed" ng-show="cart.HasUnplayedTickets == true && cart.HasDummyFreeTicket == false">PROCEED TO PLAY</a>
                    <a href="#" ng-click="showSelectFreeTicket(true, false);" class="btn orange proceed" ng-show="cart.HasUnplayedTickets == true && cart.HasDummyFreeTicket == true">PROCEED TO PLAY</a>
                </div>
            </form>
        </div>
    </div>


    <div class="free-ticket-popup" ng-show="ShowFreePrizeListModal">
        <div ng-include="'/js/views/freeprizelist.html'" />
    </div>
</aside>

<script>
    $(document).ready(function () {
        $("#ShoppingCartController").click(function () {
            var sender = this;
            if (!$(sender).hasClass('active')) {
                angular.element(document.getElementById('cartId')).scope().FetchCartData(true);
            }
            return true;
        });

        $('.tooltip').tooltipster({
            Default: 'top'
        });
    });
</script>

            <ul class="currency-menu botb-no-mobile">
                <li>
                    <div class="user-btn">
    

        <a class="drop-btn clearfix" data-drop=".currency-drop">
            <div class="currency-code">GBP</div>
            <p>&#163;</p>
        </a>
        <ul class="currency-drop">
<li class="currency-selected"><a href="#" onclick="botb.cookie.setCookie('BotB.CurrencyCode','GBP',7); location.reload();">GBP</a></li><li><a href="#" onclick="botb.cookie.setCookie('BotB.CurrencyCode','EUR',7); location.reload();">EUR</a></li>        </ul>

                    </div>
                </li>
            </ul>
        </div>
    </div>

    <nav id="TopMenuHeight">
        <div class="navigation">
            <div class="navigation__primary">

                <ul class="navigation__list">

                    <li class="navigation__item navigation__item--header list-1">
                        <a class="navigation__heading" href="/prizes/cars">Competitions</a>
                        <ul class="navigation__list navigation__list--secondary">
                            <li><a href="/prizes/cars">Weekly Dream Car</a></li>
                                <li><a href="/prizes/lifestyle">Weekly Lifestyle</a></li>
                                                        <li><a href="/how-to-play">How To Play</a></li>
                            <li><a href="/about/faqs">FAQs</a></li>
                        </ul>
                    </li>

                    <li class="navigation__item navigation__item--header list-2">
                        <a class="navigation__heading" href="/winners">Winners</a>
                        <ul class="navigation__list navigation__list--secondary">
                            <li><a href="/winners">Previous Winners</a></li>
                            <li><a href="/about/press">In the Press</a></li>

                                <li><a href="/collections/car-collections">Car Collections</a></li>
                            <li><a href="/winners-map">Winners Map</a></li>
                        </ul>
                    </li>



                    <li class="navigation__item navigation__item--header list-4 full-width">
                        <a class="navigation__heading" href="/about/customer-reviews">About</a>
                        <ul class="navigation__list navigation__list--secondary">
                            <li><a href="/testimonials">Customer Reviews</a></li>
                            <li><a href="/about/history-locations">History &amp; Locations</a></li>
                            <li><a href="/about">Team</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

<div class="navigation__footer">
<div class="nav-bottom" style="text-align: top;">
<ul class="social-menu">
<li class="facebook">
<div style="display: inline-block;"><a rel="noopener noreferrer" href="https://www.facebook.com/BOTBdreamcars" target="_blank"><img src="/assets/images/social-fb-colour.png" alt="Facebook" /></a></div>
<div style="display: inline-block; vertical-align: top;">
<p>237k+</p>
<p>Likes</p>
</div>
</li>
<li class="instagram">
<div><a rel="noopener noreferrer" href="https://instagram.com/Botb_dreamcars/" target="_blank"> <img src="/assets/images/social-instagram-colour.png" alt="Instagram" /> </a></div>
<div style="display: inline-block; vertical-align: top;">
<p>63k+</p>
<p>Followers</p>
</div>
</li>
<li class="youtube">
<div><a rel="noopener noreferrer" href="https://www.youtube.com/user/BestotBest" target="_blank"> <img src="/assets/images/social-yt-colour.png" alt="YoutTube" /> </a></div>
<div style="display: inline-block; vertical-align: top;">
<p>28k+</p>
<p>Subscribers</p>
</div>
</li>
<li class="twitter">
<div><a rel="noopener noreferrer" href="https://twitter.com/botb_dreamcars" target="_blank"> <img src="/assets/images/social-twitter-colour.png" alt="Twitter" /> </a></div>
<div style="display: inline-block; vertical-align: top;">
<p>17k+</p>
<p>Followers</p>
</div>
</li>
</ul>
<ul class="trusted-menu">
<li class="trusted-menu__trustpilot"><a rel="noopener noreferrer" href="https://uk.trustpilot.com/review/www.botb.com" target="_blank"> <img src="/assets/images/trust-pilot-colour.png" alt="Trustpilot" /> </a>
<p>Over 3,000 Reviews</p>
</li>
<li class="trusted-menu__feefo"><a rel="noopener noreferrer" href="http://www.feefo.com/reviews/BOTB_public/?logon=www.botb.com/public" target="_blank"> <img src="/assets/images/feefo-colour.png" alt="Feefo" /> </a>
<p>Over 10,000 Reviews</p>
</li>
</ul>
</div>
</div>        </div>
    </nav>

</header>

<div class="faux-header"></div>



    


<div class="notifications-panel">
    <div id="notifications" class="notifications"></div>
</div>



    


<article class="about faqs page-wrapper-with-icons-nav">
    
<script>
    $(document).ready(function () {
        var aboutMenuLink = window.location.pathname;
        var aboutArray = aboutMenuLink.split('/');

        var isInvestorsSection = window.location.pathname.indexOf('/investors/') != -1;
        var lastWord = aboutArray[aboutArray.length - 1];

        if (isInvestorsSection)
        {
            $("#about-menu-investors").addClass("active");
        }
        else
        {
            switch (lastWord) {
                case "history":
                    $("#about-menu-about").addClass("active");
                    break;

                case "about":
                    $("#about-menu-team").addClass("active");
                    break;

                case "judges":
                    $("#about-menu-judges").addClass("active");
                    break;

                case "faqs":
                    $("#about-menu-faq").addClass("active");
                    break;

                case "botb-locations":
                    $("#about-menu-locations").addClass("active");
                    break;

                case "charity":
                    $("#about-menu-charity").addClass("active");
                    break;

                case "press":
                    $("#about-menu-press").addClass("active");
                    break;

                case "investors":
                    $("#about-menu-investors").addClass("active");
                    break;

                case "customer-reviews":
                case "testimonials":
                    $("#about-menu-reviews").addClass("active");
                    break;

                case "football-about":
                    break;

                case "contact-us":
                    $("#about-menu-contact-us").addClass("active");
                    break;

                default:
                    $("#about-menu-about").addClass("active");
                    break;
            }
        }
        
    });
</script>

<div class="about-menu">
    <span class="line"></span>
    <ul class="about-menu-ul">

        <li id="about-menu-charity">
            <a href="/about/charity">
                <div class="icon charity"></div>
                Charity
            </a>
        </li>

        <li id="about-menu-contact-us">
            <a href="/contact-us">
                <div class="icon contact-us"></div>
                Contact Us
            </a>
        </li>

        <li id="about-menu-faq">
            <a href="/about/faqs">
                <div class="icon faq"></div>
                FAQs
            </a>
        </li>

        <li id="about-menu-about">
            <a href="/about/history-locations">
                <div class="icon story"></div>
                History
            </a>
        </li>

        <li id="about-menu-investors">
            <a href="/about/investors">
                <div class="icon relations"></div>
                Investors
            </a>
        </li>

        <li id="about-menu-judges">
            <a href="/about/judges">
                <div class="icon judges"></div>
                Judges
            </a>
        </li>

        <li id="about-menu-press">
            <a href="/about/press">
                <div class="icon press"></div>
                Press
            </a>
        </li>

        <li id="about-menu-reviews">
            <a href="/testimonials">
                <div class="icon reviews"></div>
                Reviews
            </a>
        </li>

        <li id="about-menu-team">
            <a href="/about">
                <div class="icon team"></div>
                Team
            </a>
        </li>
        
    </ul>
</div>

    <div class="heading">
        <div class="fake-table">
            <div class="fake-table-cell">
                <h1>FAQs</h1>
            </div>
        </div>
    </div>

    <div class="content">

        <div class="text">
            You'll find the answers to some of our most Frequently Asked Questions below. If you can’t find the answer you're looking for, please call us on <a href="tel:+44 (0)207 371 88 66">+44 (0)207 371 88 66</a> or email <a href="mailto:info@botb.com">info@botb.com</a> and we'll be delighted to help you.
        </div>

        <div class="container">

                    <span class="faq-topic"><span class="arrow"></span> How does it work?</span>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>How do I enter/Where can I buy tickets?</span>

                    <div class="faq-answer"><p>Simply add tickets to your basket for the prizes you'd like to win, play Spot the Ball to enter and then proceed to checkout. You can buy tickets at any of our airport stands or from our website at <b>www.botb.com</b>. For further information, watch our <a rel="noopener noreferrer" href="https://www.youtube.com/watch?v=EIea8mdCSw4" target="_blank">How to Win video</a>.</p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>How is the winner decided?</span>

                    <div class="faq-answer"><p><span>At the end of the competition, the same 'Spot the Ball' picture you used to choose your coordinates is shown to a judging panel comprised of professional sporting experts. In the presence of an independent lawyer they mark where they think, in their professional opinion, the centre of the ball should be. The winner is simply the person who is closest to the judged position.</span></p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>How many tickets I can buy?</span>

                    <div class="faq-answer"><p>There is currently a limit of <b>150</b> tickets per customer, per competition for the <i>Dream Car Competition</i> and <i>Lifestyle Competition</i>. Read more in our <a href="/terms">terms and conditions</a>.</p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>How much is it to enter?</span>

                    <div class="faq-answer"><ul style="list-style: disc; line-height: 200%;">
<ul style="list-style: disc; line-height: 200%;">
<ul style="list-style: disc; line-height: 200%;">
<ul style="list-style: disc; line-height: 200%;">
<ul style="list-style: disc; line-height: 200%;">
<li>Lifestyle Competition tickets start from <b>15p</b>, depending on the type of prize you'd like to win</li>
<ul style="list-style: disc; line-height: 200%;">
<ul style="list-style: disc; line-height: 200%;">
<ul style="list-style: disc; line-height: 200%;">
<ul style="list-style: disc; line-height: 200%;">
<ul style="list-style: disc; line-height: 200%;">
<ul style="list-style: disc; line-height: 200%;">
<ul style="list-style: disc; line-height: 200%;">
<ul style="list-style: disc; line-height: 200%;">
<li>Dream Car tickets range from <b>85p - £8</b>, depending on the type of car you'd like to win</li>
</ul>
</ul>
</ul>
</ul>
</ul>
</ul>
</ul>
</ul>
</ul>
</ul>
</ul>
</ul>
</ul></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>What happens if more than one person is equidistant to the judges position?</span>

                    <div class="faq-answer"><p><span>There can only be <b>one winner</b>. If a case arises where two or more players are equally close to the judges position in a competition, the winner will be determined by calculating the next closest entry of the players in question. The person with the closest second ticket is the outright winner. If any player in this scenario has only one ticket, all players that qualify will play in another Spot the Ball competition online to determine the outright winner. All other players in this scenario will receive <b>£500</b> in cash and <b>£500</b> in Dream Car Credit if playing the Dream Car Competition, and <b>£200</b> in cash and <b>£200</b> in Dream Car Credit if playing the Lifestyle Competition. Be sure to read the full </span><a href="/terms">terms and conditions</a></p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>What is Dream Car Credit?</span>

                    <div class="faq-answer"><p><i>Dream Car Credit</i> is earned as a reward for doing well in <i>Dream Car Competitions </i>only. Dream Car Credit can only be used to enter Dream Car Competitions and cannot be exchanged for cash or used in the Lifestyle Competition. You can play the Dream Car Competition for free if you have enough Dream Car Credit, or you can use it in part payment. Dream Car Credit will automatically be deducted from your account at checkout with any qualifying purchase. <i>Please note:</i> Dream Car Credit will expire - check your <a href="/account/game-credit">Account</a> for details.</p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>What&#39;s Spot the Ball and why do you use it?</span>

                    <div class="faq-answer"><p><span>We are legally obliged to use a <i>game of skill</i> to determine the winner of our competitions - not a lottery or raffle. We use 'Spot the Ball' as it's widely recognised, fun and an easy way to enter. You will be shown a photograph that does not contain a ball. You must use your skill and judgement to decide where you think the centre of the ball should be. Your chosen points will be recorded as (x,y) coordinates.</span></p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>When does the Dream Car Competition finish and when are the results announced?</span>

                    <div class="faq-answer"><p>There's a <i>Dream Car</i> winner every week. Competitions run from midnight until midnight (UK time*), Monday to Sunday, 52 weeks a year. Judging takes place on a <i>Monday</i> morning and the winner will usually be surprised in person by BOTB on Tuesday or Wednesday. Results will be announced to all entrants once the winner has been notified. Competition results will be posted on our website and you will also receive notification via email. You can log in to your <a href="/account/competitions">Account</a> to check the results, see how close you were and to see if you have earned any rewards in the form of <i>Dream Car Credit</i>.</p>
<p>* GMT / BST; UTC / UTC+1</p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>When does the Lifestyle Competition finish and when are the results announced?</span>

                    <div class="faq-answer"><p>There's a <i>Lifestyle Competition</i> winner every week. Competitions run from midnight until midnight (UK time*), Monday to Sunday, 52 weeks a year. Judging takes place on a <i>Monday</i> morning and the winner will usually be video called by BOTB on Monday afternoon. Results will be announced to all entrants once the winner has been notified. Competition results will be posted on our website and you will also receive notification via email. You can log in to your <a href="/account/competitions">Account</a> to check the results and see how close you were.</p>
<p>* GMT / BST; UTC / UTC+1</p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>Why don&#39;t you use the original ball position to judge the winner?</span>

                    <div class="faq-answer"><p><span>The basis of the game must categorically be the skill of an entrant versus the skill of professionals - not versus the chance that the original spot on the football picture is picked. It is a subtle but important legal definition by which we are bound to operate. The panel of judges is formed of experienced professionals on a rotating basis, including both referees and players, who each offer their best opinion. Using a panel of judges ensures that nobody can ever know the original position of the ball - resulting in a process that is fair, transparent, audited and honest.</span></p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>Will I get a receipt of my purchase?</span>

                    <div class="faq-answer"><p><span>You will be emailed confirmation of your <i>order and competition entries</i> immediately after entering. If you're a first time player, you'll also receive an email confirming your <i>account log-in</i> details. Information about all competitions you have entered are available on the <a href="/account/competitions">My Competitions</a> page.</span></p></div>
                </div>
                    <span class="faq-topic"><span class="arrow"></span> Who are we?</span>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>Where is BOTB based?</span>

                    <div class="faq-answer"><p><span>Our Head Office address is <b>2 Plato Place, 72-74 St Dionis Road, London SW6 4TU. </b>There's a BOTB stand in the departure lounge at<b> <strong>Birmingham airport</strong>, </b>where our friendly staff will be happy to assist you. We're also online at <b><strong>www.botb.com</strong></b> and of course you can still find us at big motoring events such as Goodwood Festival of Speed every summer!<b> </b> </span></p>
<p> </p>
<p><span>We can be contacted on <span style="color: #f58220;">+44 (0)20 7371 8866</span> or via email at </span><a href="mailto:info@botb.com">info@botb.com</a><span>. Tweet us <span style="color: #f58220;">@BOTB_Supercars, </span>get in touch through our Facebook page - </span><a rel="noopener noreferrer" href="https://www.facebook.com/BOTBdreamcars" target="_blank">facebook.com/BOTBdreamcars</a> or follow us on <a rel="noopener noreferrer" href="https://www.instagram.com/Botb_dreamcars/" target="_blank">Instagram</a> </p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>Who are BOTB?</span>

                    <div class="faq-answer"><p>BOTB (Best of the Best plc) has been running competitions since 1999 and has given away over £25 million of prizes so far. Every week there are guaranteed Dream Car and Lifestyle Competition winners.</p>
<p> </p>
<p>We're a UK-based company, listed on the AIM market of the London Stock Exchange and are therefore required to adhere to the highest legal and audit standards. Across our Head Office and Airport sites we currently employ approximately 30 staff. You can see who works here, as well as information about who is on the Board of Directors and details of our financial advisers in the <a href="/about/">About</a> section.</p></div>
                </div>
                    <span class="faq-topic"><span class="arrow"></span> Winners and prizes</span>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>Are there winners of every car?</span>

                    <div class="faq-answer"><p><span>Entrants can choose from the <b>180+</b> cars in the Dream Car competition line-up. At the end of each Dream Car competition, one car is won. This is determined by matching the winning coordinates from the Spot the Ball game (as chosen by our panel of expert judges) to all the entries.</span></p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>Are you going to add in Motorbikes? Boats? Helicopters?</span>

                    <div class="faq-answer"><p><span>As well the chance to win your Dream Car, you can also enter our Lifestyle Competition, which includes motorbikes, watches, cash and other cool prizes - tickets start from just 25p! </span></p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>Do you help with insuring and servicing my Dream Car when I win?</span>

                    <div class="faq-answer"><p><b>Yes!</b> Depending on the value of the car won, BOTB will pay up to <b>£1,500</b> towards insurance costs and up to <b>£400</b> for servicing. See <a href="/terms">terms and conditions</a> for full details.</p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>How can I get further information?</span>

                    <div class="faq-answer"><p><span>Feel free to call us on <span style="color: #f58220;">+44 (0)20 7371 8866</span> or email us at </span><a href="mailto:info@botb.com">info@botb.com</a><span> and we will get straight back to you.</span></p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>How many winners have there been?</span>

                    <div class="faq-answer"><p>Since 1999 we've given away over <b>£25 million</b> worth of cars to more than <b>450</b> winners from around the <a rel="noopener noreferrer" href="https://www.google.com/maps/d/viewer?msa=0&amp;mid=z2AhJGfKwzkI.kNadszEy1SGI" target="_blank">world</a>. See all our <a rel="noopener noreferrer" href="/winners" target="_blank">winners</a>.</p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>How often do you update information on the Dream Cars?</span>

                    <div class="faq-answer"><p>Specifications, review, RRP and availability of cars in the <i>Dream Car Competition</i> are correct as of <b>April 2018</b>. All prices and specs are checked on a quarterly basis and whilst we endeavour to ensure they are accurate, we cannot be held responsible for slight inaccuracies due to manufacturers adjusting details without notice.</p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>If I win can I choose whether my car is Right or Left Hand drive?</span>

                    <div class="faq-answer"><p><span><b>Yes - where available!</b> Most cars can be supplied in Left or Right hand drive. Please see full </span><a rel="noopener noreferrer" href="/terms" target="_blank">terms and conditions</a><span> for further information.</span></p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>Is there a cash alternative?</span>

                    <div class="faq-answer"><p><b>Yes!</b> The <i>Cash Alternative</i> is <b>80%</b> of the <b>UK RRP</b> of the prize.</p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>Where do you deliver the car to?</span>

                    <div class="faq-answer"><p>We deliver the car anywhere in the world, free of charge. All cars are delivered with UK VAT paid. There may be import/registration duties into certain countries which in general we do not pay for. It may therefore be preferable to take the cash alternative and then buy the equivalent car in your country - we can of course assist with this. See <a href="/terms">terms and conditions</a> for full details on deliveries, taxes and the cash alternative options.</p></div>
                </div>
                <div class="faq-category-container">
                        <span class="faq-category"><span class="arrow"></span>Who decides what cars can be played for?</span>

                    <div class="faq-answer"><p>We do - with your help! There are <b>180+</b> cars in our <i>Dream Car Competition</i> line-up, with more added regularly. We welcome your suggestions, so please get in touch by emailing <a href="mailto:info@botb.com">info@botb.com</a>.</p></div>
                </div>
        </div>

    </div>
</article>

<footer class="footer">
    <div class="container clearfix">
        <div class="bottom clearfix">
            <div class="footer-left">
                <a class="tel" href="tel:+44 (0)207 371 88 66">+44 (0)207 371 88 66</a>
            </div>

            <div class="footer-center footerData">
                <p>Best of the Best Plc. Reg. Office: 2, Plato Place, 72-74 St. Dionis Road, London SW6 4TU. U.K.</p>
                <p>Reg. No: 3755182  |  <a href="mailto:info@botb.com">info@botb.com</a>  |  <a href="tel:+44 (0)207 371 88 66">+44 (0)207 371 88 66</a></p>
                <p>&copy; Copyright 2016-2018 BOTB.COM</p>
                
                <div class="footertable">
                    <ul class="footer-submenu">
                        <li><a href="/terms">Terms of Play</a></li>|
                        <li><a href="/privacy">Privacy Policy</a></li>|
                        <li><a href="/cookies">Cookie Policy</a></li>|
                        <li><a href="/affiliates">Affiliate Programme</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-right">
                <div class="footer-payment">
                    <ul>
                        <li>
                            <a target="_blank" href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&amp;dn=www.botb.com&amp;lang=en">
                                <img src="/assets/images/verisign-icon.jpg" alt="Verisign" />
                            </a>
                        </li>
                        <li><img src="/assets/images/visa-icon.jpg" alt="Visa" /></li>
                        <li><img src="/assets/images/mastercard-icon.jpg" alt="Mastercard" /></li>
                        <li><img src="/assets/images/american-express-icon.jpg" alt="American Express" /></li>
                        <li><img src="/assets/images/jcb-type-icon.png" alt="JCB" /></li>
                        <li class="paypal"><img src="/assets/images/paypal-icon.jpg" alt="PayPal" /></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<div class="navigation__footer">
<div class="nav-bottom" style="text-align: top;">
<ul class="social-menu">
<li class="facebook">
<div style="display: inline-block;"><a rel="noopener noreferrer" href="https://www.facebook.com/BOTBdreamcars" target="_blank"><img src="/assets/images/social-fb-colour.png" alt="Facebook" /></a></div>
<div style="display: inline-block; vertical-align: top;">
<p>237k+</p>
<p>Likes</p>
</div>
</li>
<li class="instagram">
<div><a rel="noopener noreferrer" href="https://instagram.com/Botb_dreamcars/" target="_blank"> <img src="/assets/images/social-instagram-colour.png" alt="Instagram" /> </a></div>
<div style="display: inline-block; vertical-align: top;">
<p>63k+</p>
<p>Followers</p>
</div>
</li>
<li class="youtube">
<div><a rel="noopener noreferrer" href="https://www.youtube.com/user/BestotBest" target="_blank"> <img src="/assets/images/social-yt-colour.png" alt="YoutTube" /> </a></div>
<div style="display: inline-block; vertical-align: top;">
<p>28k+</p>
<p>Subscribers</p>
</div>
</li>
<li class="twitter">
<div><a rel="noopener noreferrer" href="https://twitter.com/botb_dreamcars" target="_blank"> <img src="/assets/images/social-twitter-colour.png" alt="Twitter" /> </a></div>
<div style="display: inline-block; vertical-align: top;">
<p>17k+</p>
<p>Followers</p>
</div>
</li>
</ul>
<ul class="trusted-menu">
<li class="trusted-menu__trustpilot"><a rel="noopener noreferrer" href="https://uk.trustpilot.com/review/www.botb.com" target="_blank"> <img src="/assets/images/trust-pilot-colour.png" alt="Trustpilot" /> </a>
<p>Over 3,000 Reviews</p>
</li>
<li class="trusted-menu__feefo"><a rel="noopener noreferrer" href="http://www.feefo.com/reviews/BOTB_public/?logon=www.botb.com/public" target="_blank"> <img src="/assets/images/feefo-colour.png" alt="Feefo" /> </a>
<p>Over 10,000 Reviews</p>
</li>
</ul>
</div>
</div>
</footer>
<div id="fb-root"></div>
<div style="clear: both;"></div>
<div style="display: none">RD0003FF1A7C2F</div>

    <script src="/bundles/libraries?v=xLQ-K6woiZ6puWmTwIbTG7ML57dp6pX2iFSsY4weUlI1"></script>


    
    <script defer src="/js/autobazzer.min.js?ver=2.0.8290.1"></script>

    
    <script defer src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.min.js"></script>
    <script defer src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js"></script>

    <script src="/bundles/otherjsfiles?v=3lrIJpqSqbtMnAK-g43Ijg-3j88X4Z0-SG96nJBqJMw1"></script>




    
    

    <div class="footer-trackers"></div>




    <script defer type="text/javascript">
        // <![CDATA[
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute('charset', 'utf-8');
            $.src = '//v2.zopim.com/?1uiIyiweDUQpGipNcs3Uaj9z82Gv6O2e'; z.t = +new Date;
            $.type = 'text/javascript'; $.defer = !0; e.parentNode.insertBefore($, e)
        })(document, 'script');
        // ]]>
    </script>



    <script defer type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "0e1a39b4-1aa7-4292-b46c-380db31b5e86"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>






</body>

</html>